/* Global Styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: hsl(0, 20%, 15%);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

.App {
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 95%));
  min-height: 100vh;
}

/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* space between header & main */
  padding-bottom: 50px;
}

.titleContainer {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
}

.titleContainer h1 {
  font-size: 25px;
}

.titleContainer,
.header nav {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.header nav {
  padding-right: 100px;
}

.header .active {
  border-bottom: solid 1px hsl(215, 90%, 65%);
}

@media (max-width: 600px) {
  .header nav {
    padding-right: 30px;
  }
}

@media (max-width: 430px) {
  .titleContainer,
  .header nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .header nav li {
    padding-top: 10px;
  }
}

.header nav ul {
  display: flex;
}

.header nav li {
  padding-right: 10px;
  font-weight: 600;
}

.header a {
  color: hsl(0, 20%, 15%);
}

.header li a:hover {
  color: hsl(215, 90%, 65%);
}

.header li .active:hover {
  border-bottom: solid 2px hsl(215, 90%, 65%);
}

/* AboutMe Component */
.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.imageContainer {
  max-width: 300px;
  margin-right: 30px;
}

.imageContainer img {
  max-width: 100%;
}

.aboutMe h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutMe p {
  line-height: 1.5;
  padding-bottom: 20px;
  max-width: 35em;
}

@media (max-width: 1000px) {
  .imageContainer {
    max-width: 200px;
  }

  .aboutMe p {
    max-width: 25em;
  }
}

@media (max-width: 700px) {
  .aboutSection {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .aboutMe p {
    max-width: 15em;
  }
}

.contactButtonContainer {
  height: 150px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contactButton {
  padding: 25px;
  font-size: 18px;
  border-radius: 5px;
  background: linear-gradient(hsl(215, 90%, 75%), hsl(215, 90%, 65%));
  color: hsl(0, 0%, 95%);
  border: none;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
}

.contactButton:hover {
  cursor: pointer;
  background: hsl(0, 0%, 95%);
  color: hsl(0, 20%, 15%);
}

/* Projects Component */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.project {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 20px;
  max-width: 1000px;
  border-radius: 5px;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  background: hsl(0, 10%, 95%);
}

.imgContainer {
  width: 50%;
}

.imgContainer img {
  width: 100%;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
}

.projectInfo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-width: 50%;
}

.projectInfo > * {
  padding-bottom: 10px;
}

.projectInfo h2 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.projectInfo p {
  line-height: 1.5;
}

.projectInfo .links {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.projectInfo .links a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 200px;
}

.projectInfo i {
  padding-left: 5px;
  color: hsl(215, 90%, 65%);
}

.projectInfo a {
  color: hsl(0, 20%, 15%);
}

.projectInfo a:hover {
  color: hsl(215, 90%, 65%);
}

.projectInfo a:hover i {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

@media (max-width: 1050px) {
  .project {
    flex-direction: column;
    max-width: 550px;
  }

  .imgContainer {
    width: 75%;
  }
  .projectInfo {
    max-width: 80%;
  }

  .projectInfo {
    margin-top: 20px;
    padding-left: 0;
  }

  .projectInfo h2 {
    align-self: center;
  }
}

@media (max-width: 650px) {
  .project {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .project {
    max-width: 350px;
  }

  .projectInfo {
    max-width: 95%;
  }
}

@media (max-width: 400px) {
  .project {
    max-width: 250px;
  }
}

/* Contact Componet */
.contact {
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 300px;
}

@media (max-width: 350px) {
  .formContainer {
    width: 250px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .formInput {
  margin-bottom: 40px;
}

form input,
form textarea {
  width: 100%;
  font-size: 16px;
}

form input {
  padding: 5px;
}

form textarea {
  height: 150px;
}

.formContactButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.formContactButton {
  padding: 15px;
}
