/* Global Styling */
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  /* space between header & main */
  padding-bottom: 70px;
}

.titleContainer {
  text-align: center;
}

.titleContainer,
.header nav {
  padding: 20px;
}

.header nav ul {
  display: flex;
}

.header nav li {
  padding-right: 10px;
}

/* AboutMe Component */
.aboutSection {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr;
  grid-gap: 20px;
}

.imageContainer {
  grid-column: 2;
}

.imageContainer img {
  max-width: 100%;
}

.aboutSection .aboutMe {
  grid-column: 3;
}

/* Projects Component */
.projects {
  display: flex;
  justify-content: center;
}
