/* Global Styling */
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  text-align: center;
}

.header nav ul {
  display: flex;
}

.header nav li {
  padding-right: 10px;
}

/* AboutMe Component */
.aboutSection {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-gap: 20px;
}

.imageContainer {
  grid-column: 2;
}

.imageContainer img {
  max-width: 100%;
}

.aboutSection .about {
  grid-column: 3;
}
