/* Global Styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* space between header & main */
  padding-bottom: 70px;
}

.titleContainer {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
}

.titleContainer h1 {
  font-size: 25px;
}

.titleContainer,
.header nav {
  padding: 30px;
}

.header nav {
  padding-right: 100px;
}

.header nav ul {
  display: flex;
}

.header nav li {
  padding-right: 10px;
  font-weight: 600;
}

.header a {
  color: black;
}

.header li a:hover {
  color: blue;
  /*text-decoration: underline;*/
  border-bottom: solid 2px blue;
}

/* AboutMe Component */
.aboutSection {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr;
  grid-gap: 20px;
  /* space between aboutMe section and example projects */
  padding-bottom: 70px;
}

.imageContainer {
  grid-column: 2;
}

.imageContainer img {
  max-width: 100%;
}

.aboutSection .aboutMe {
  grid-column: 3;
  /*border: 1px solid black;*/
}

.aboutMe h2 {
  /*font-weight: 600;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutMe p {
  line-height: 1.5;
  padding-bottom: 20px;
  max-width: 35em;
}

/* Projects Component */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.project {
  display: flex;
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
  max-width: 1000px;
}

.imgContainer {
  width: 50%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-width: 50%;
}

.projectInfo > * {
  padding-bottom: 10px;
}

.projectInfo h2 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.projectInfo p {
  line-height: 1.5;
}

.projectInfo .links {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.projectInfo .links a {
  padding-bottom: 20px;
}

.projectInfo i {
  padding-left: 5px;
}
